body {
  font-family: Georgia, Garamond;
  background-color: #18181b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #1f1f23;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 1px;
  border-radius: 6px;
  border: none;
  resize: none;
  background-color: #2a2a2d;
  color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background: #93c47d;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #6aa84f;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #2a2a2d;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-text {
  flex: 1;
}

.note-actions button {
  background: #444;
  border: none;
  padding: 4px 6px;
  margin-left: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.note-actions button:hover {
  background: #666;
}
